<form action='save_exam' method='GET'>
  Exam name: <input type="text" name="exam_name"> </p>
  Scope of knowledge: <input type="text" name="exam_sok"> </p>
  Date: <input type="date" name="exam_date"> </p>
  Name     Surname   Points  Grade
  <div id="students_table">
    {% if students_list %}
        <ul>
        {% for students in students_list %}
            <li>{{students.name }} {{students.surname}} <input type="text" name="points" > <input type="number" name="grade"> </p></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No students are available.</p>
    {% endif %}
  </div>

  <button type='submit'> Save</button>
</form>
