Home page of exams sheet
<div style="text-align: right;">
	{% if user_id != -1 %}
	Current user: {{user_data}} </br>
	{% endif %}
	</div>
<div style="text-align: right;">
 User type: {{user_type}}
</div>

{% if exams_list %}
	<table class="sortable">
		<tr>
			<th>Exam name</th>
			<th>Exam material</th>
			<th>Exam date</th>
			<th>Exam owner</th>
		</tr>
	{% for exams in exams_list %}
		<tr>
			<th>	<a href="{{ exams.id }}/"> {{exams.name}} </th>
			<th>	 {{exams.scope_of_knowledge }} </th>
			<th>	  {{exams.date }}  </th>
			<th>	  {{exams.owner.name }}  </th>
		</tr>
	{% endfor %}
  </table>

{% else %}
    <p>No exams are available.</p>
{% endif %}

{% if user_type == "owner" %}
  <form action='add_exams' method='GET'>
    <button type='submit'> Add new exam</button>
  </form>

  <form action='log_out' method='GET'>
    <button type='submit'> Log out</button>
  </form>
  {% else %}
  <form action='login_view' method='GET'>
    <button type='submit'> Login</button>
  </form>
{% endif %}

<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
