Home page of exams sheet
<div style="text-align: right;">
		Current user: {{user_type}}
	</div>
{% if exams_list %}
    <ul>
    {% for exams in exams_list %}
        <li><a href="{{ exams.id }}/"> {{exams.name}}, {{exams.scope_of_knowledge }} , {{exams.date }} </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No exams are available.</p>
{% endif %}

{% if user_type == "owner" %}
  <form action='add_exams' method='GET'>
    <button type='submit'> Add new exam</button>
  </form>

  <form action='log_out' method='GET'>
    <button type='submit'> Log out</button>
  </form>
  {% else %}
  <form action='login_view' method='GET'>
    <button type='submit'> Login</button>
  </form>
{% endif %}
